html
    head
        link(rel='stylesheet' type="text/css" href='/css/index.css')
        link(rel='stylesheet' type="text/css" href='/css/404.css')
        title Error 404: Page not found
        link(rel='shortcut icon' type='image/x-icon' href='https://pokemondb.net/favicon.ico')
    body
        main.main-content
            h1 Page not found
            p.
                The requested page - #[samp #{crtUrl}] - could not be found. Check that you typed the URL correctly.
            p.
                Return to the #[a(href=`${homeUrl}`) home page].
